body{
    background-color: rgb(72, 22, 255);
    color: rgb(255, 254, 254)
}

nav{
    background-color: rgb(72, 22, 255);
    color: rgb(255, 255, 255);
    padding: 10px;
}

nav ul{
        list-style-type: none;
        text-align: center;
        font-size: larger;
        color: azure
}

nav li{
    display: inline-block;
    margin: 30px;
    color: azure;
}

nav a{
    text-decoration: none;
    color: rgb(255, 252, 252);

}







#AboutMe{
    background-color: rgb(72, 22, 255);
}
.first{
    text-align: center;
    color: rgb(255, 251, 251);
    
}
.second{
    text-align: center;
    color: rgb(255, 251, 251);
    border-style:groove
    
}





#Skills{
    background-color: rgb(72, 22, 255);
    font-size: x-large;
    
}
.first{
    text-align: center;
    
}
.second{
    text-align: center;
    border-style:groove
    
}


#Projects{
    background-color: rgb(72, 22, 255);
    font-size:x-large;
}
.first{
    text-align: center;
    color: rgb(255, 251, 251);
    
}
.second{
    text-align: center;
    color: rgb(72, 22, 255);
    border-style:groove
}





#Contact{
    background-color: azure;
}
.first{
    text-align: left;
    color: rgb(255, 251, 251);
}
.second{
    text-align: center;
    color: rgb(72, 22, 255);
    border-style:groove
}



